<div class="row">
  <div class="col-sm-12">
    <app-user-info [fullUser]="this.fullUser"></app-user-info>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm-12">
    <tabset>
      <tab heading="Posts" id="tab1">
        <div *ngFor="let singlePost of this.fullUser.posts">
          <app-single-post [post]="singlePost"></app-single-post>
        </div>
      </tab>
      <tab heading="Followers">
<!--          With pagination. This component is not changing the state after user is changed-->
<!--          <app-user-followers [userFollowers]="this.fullUser.followers"></app-user-followers>-->
        <app-user-preview
          class="content-wrapper"
          [users]="this.fullUser.followers"
        >
        </app-user-preview>
      </tab>
      <tab heading="Following">
<!--          With pagination. This component is not changing the state after user is changed-->
<!--         <app-user-following [userFollowing]="this.fullUser.following"></app-user-following>-->
        <app-user-preview
          class="content-wrapper"
          [users]="this.fullUser.following"
        >
        </app-user-preview>
      </tab>
    </tabset>
  </div>
</div>
