:host {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  .btn-block {
    color: #2780e3;
    background-color: white;
    border: 1px solid #2780e3;
  }
  .btn-block:hover {
    color: white;
    background-color: #2780e3;
    border: 1px solid rgb(197, 226, 255);
  }

  .paginator {
    display: flex;
  }
}
